@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:ital,wght@1,500&display=swap');

.navbar{
    background-color: #FAF7EF;
}

.nav-link, .navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{
    border-bottom: 2px solid #1D6359;
}

.section__style{
    margin-top: 100px;
    margin-bottom: 50px;
}

.Pålogging_knapp{
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
}

.Pålogging_knapp:hover {
    background-color: #1D6359;
    border: none;
    color: white;
    padding: 10px 15px;
}

.LoggUt_knapp{
    background-color: #B13C3B;
    border: none;
    color: white;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
}

.LoggUt_knapp:hover {
    background-color: #6B1D1D;
    border: none;
    color: white;
    padding: 10px 15px;
}

.img__style{
    border-radius: 2%;
    width: 40%;
    height: 40%;
    margin-left: 200px;
}

.h3__Style{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: medium;
}

.h5__Style{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 50px;
}   

.section_card_style{
    background-color: #FAF7EF;
}

.overskrift__cards{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 15px;
}

.oversiktstekst__cards{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.card__overskrifttekst{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    color: cadetblue;
}

.card__paragraftekst{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.button__registrerDeg{
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 15px 50px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.button__registrerDeg:hover {
    background-color: #1D6359;
    border: none;
    color: white;
    padding: 15px 50px;
}

.border_underButton{
    border-bottom: 2px solid #1D6359;
}

.text_footer {
    pointer-events: none;
    cursor: text;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.øverst__footer{
    background-color: #1D6359;
}

.nederst__footer{
    background-color: #061629;
    padding-top: 15px;
    padding-bottom: 30px;
}

.opphavsrett{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.expand__icon{
    color: gray;
}

.expand__icon_icon{
    font-size: 40px;
}

.profil_bilde{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.sidebar__navn{
    font-family: 'Montserrat', sans-serif;
    color:cadetblue;
    font-size: 25px;
}